body {
    
}

    .column {
        width: 33.33%;
    }
        
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-links {
        display: flex;
        flex-direction: row;
    }

    .right-link {
        display: flex;
        justify-content: right;
        padding: 8px;
    }

    .left-links {
        font-weight: bold;
        justify-content: left;
    }

    





